@import "tailwindcss";

/* :root { */
/*   --background: #142029; */
/*   --foreground: #e9d8c8; */
/**/
/*   --primary: #732553; */
/*   ---on-primary: #e9d8c8; */
/**/
/*   --secondary: #ff5c8d; */
/*   ---on-secondary: #142030; */
/**/
/*   --surface: #1e3442; */
/*   --on-surface: #e9d8c8; */
/* } */

:root {
  --background: #171717;
  --foreground: #dedede;

  --primary: #f25623;
  ---on-primary: #171717;

  --secondary: #2358f2;
  --on-secondary: #dedede;

  --surface: #4d4d4d;
  --on-surface: #dedede;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);

  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);

  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
}

body {
  font-family:
    "Nunito Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 16px;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  scrollbar-color: var(--foreground) var(--background);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
