package pages

import "github.com/diegorezm/DBlockchain/internals/frontend/layout"

templ Index(currentPath string) {
	@layout.DashboardLayout(currentPath) {
		<div class="p-2">
			<h1>testing</h1>
		</div>
	}
}
