package pages

import "github.com/diegorezm/DBlockchain/internals/frontend/layout"

templ WalletPage() {
	@layout.DashboardLayout("/wallet") {
		<main>
			<h1 class="text-3xl font-bold mb-6">Wallet</h1>
		</main>
	}
}
