package pages

import "github.com/diegorezm/DBlockchain/internals/frontend/layout"

templ WalletPage() {
	@layout.DashboardLayout("/wallet") {
		<div>
			<h1>wallet</h1>
			<h2>test</h2>
		</div>
	}
}
